{% extends 'base.html.twig' %}

{% block title %}{{transaction.id}}{% endblock %}
{% block body %}
    <h2>{{transaction.id}}</h2>
    <ul>
        <li>Id : {{transaction.id}}</li>
        <li>Client : <a href="/client/{{transaction.client.id}}">{{transaction.client.name}}</a></li>
        <li>Prix : {{transaction.price}} €</li>
    </ul>
    <a href='/transaction/edit/{{transaction.id}}' class='btn btn-primary'>Modifier</a>
    <a href='/transaction/delete/{{transaction.id}}' class='btn btn-danger'>Supprimer</a>
{% endblock %}